fieldset {
  border: 0;
}
fieldset legend {
  font-weight: bold;
}

.app {
  border: 1px solid #000;
  margin: 1em auto;
  max-width: 800px;
  padding: 1em;
  text-align: left;
}

.expressions {
  padding: 1em;
  background-color: #FFFFDD;
  border: 1px solid #EEEEAA;
}

.debug-option {
  margin: 1em 0;
}

.exp-area {
  display: table;
  margin-bottom: .3em;
}

.exp {
  display: table-row;
}

.exp .exp-open,
.exp .exp-close,
.exp .exp-type,
.exp .exp-content {
  display: table-cell;
}

.exp-open {
  border: 2px solid #000000;
  border-right: 0;
  border-top-left-radius: .3em;
  border-bottom-left-radius: .3em;
  width: .3em;
}
.exp-close {
  border: 2px solid #000000;
  border-left: 0;
  border-top-right-radius: .3em;
  border-bottom-right-radius: .3em;
  width: .3em;
}
.exp-content {
  padding: .3em .5em;
  vertical-align: middle;
}

.exp-group,
.exp-literal {
  padding: .1em .2em
}

.operations {
  background-color: #EEE;
  border: 1px outset #CCC;
  margin: 2em 0;
  padding: .5em;
}

.operations button {
  margin-left: 1em;
}
.operations button:first-child {
  margin-left: 0;
}

.new-expression {
  margin: 2em 0;
}
.new-expression button {
  margin-left: 1em;
}